@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: ubuntu;
  height: 100%;
}
#root {
  height: 100%;
}
body {
  height: 100%;
}
.logo {
  font-family: Roboto Racing san one;
}
.skew {
  transform: skew(0deg, -15deg);
  opacity: 0.5;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  bottom: -10;
  max-height: 550px;
}
.kom-igang {
  animation: kom-igang 1500ms ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1500ms;
}
@keyframes kom-igang {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
